name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  flake-check:
    name: Flake Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: DeterminateSystems/nix-installer-action@main

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Run nix flake check
        run: nix flake check --all-systems

  flake-build:
    name: Build ${{ matrix.builds.config }}
    runs-on: ${{ matrix.builds.runs-on }}
    needs: flake-check
    strategy:
      fail-fast: false
      matrix:
        builds:
          - {config: .#nixosConfigurations.krangle.config.system.build.toplevel, runs-on: ubuntu-latest}
          - {config: .#nixosConfigurations.nixos.config.system.build.toplevel, runs-on: ubuntu-latest}
          - {config: .#darwinConfigurations."MacBook-Air-LeonardSuslian".system, runs-on: macos-latest}
    steps:
      - uses: actions/checkout@v6

      - uses: DeterminateSystems/nix-installer-action@main

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Build ${{ matrix.builds.config }}
        run: nix build ${{ matrix.builds.config }} --dry-run
